SUPABASE_URL=https://gypnanmnnhfhdpnlodyy.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5cG5hbm1ubmhmaGRwbmxvZHl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2NjEwMTYsImV4cCI6MjA5NjIzNzAxNn0.szEn_OaJp6nk0GzCMQRm8dhuzDMV-1SOOFR3yQd6dyM
GEMINI_API_KEY=AIzaSyAj-26TiTsqvdGN2rdqT10GCqKjJjxYA0A
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
TWILIO_ACCOUNT_SID=AC82b7de2627085dcc3b1a54472bc96990
TWILIO_AUTH_TOKEN=9P3NKUEF3EBQCX34CWLNYVEQ
TWILIO_WHATSAPP_NUMBER=+14155238886
APP_URL=http://localhost:8000
